<!DOCTYPE html>
<html>
 <head> 
  <title>404 Page Not Found</title> 
  <link href="../assets/css/404style.css" rel="stylesheet" /> 
 </head> 
 <body> 
 
  <div class="wrap"> 
   <div class="header"> 
    <div class="logo"> 
    <img class = "log" src = "../assets/img/logo.png">
    </div> 
   </div> 
  
   <div class="content"> 
    <img class "im" src="../assets/img/error-img.png" title="error" /> 
    <p><span><label>O</label>hh.....</span>You Requested the page that is no longer There.</p> 
    <a href="/">Back To Home</a> 
    <footer class="copy-right"> 
     <p>&copy; 2019 Ohh. All Rights Reserved</p> 
    </footer> 
   </div> 
  </div> 
  <%- include('parts/chat')%>
 </body>
</html>