<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/1b6dbc5d1f.js"></script>
    <link rel="stylesheet" href="../assets/css/featuresstyle.css">
    <link rel="stylesheet" href="../assets/css/layoutStyle.css">


    <title>Features</title>
</head>

<body style="background: url(../assets/img/starssky.jpg)  fixed; ">

    <a href="/" id="backHomeButton" class="btn btn-outline-info "><i  class="fas fa-chevron-circle-left"></i></a>
    <!---first div--------->
    <div class="card bg-dark text-white hcrad" style="border: none;">
        <img class="card-img" src="../assets/img/V9Nnxj.png" alt="Card image" id="fimg">
        <div class="card-img-overlay">
            <h1 class="card-title" id="fhead"><span>F</span>
                <span>E</span>
                <span>A</span>
                <span>T</span>
                <span>U</span>
                <span>R</span>
                <span>E</span>
                <span>S</span>
            </h1>
            <div class="container2">
                <p class="card-text" id="fp" class="text1">What does the page do?
                    <br> And what will benefit?</p>
            </div>
        </div>
    </div>
    <!---end--------------->
    <br>
    <br>
    <br>
    <!---Second div--------->

    <div class="card mb-6" class="col-xs-12" style="width:100%;border: none; " id="Scard">
        <div class="row no-gutters" style="background-color: black; ">
            <div class="col-md-4">
                <img src="../assets/img/e11d5dff3c291be1485144f8f879a094-700.jpg" alt="Card image cap" id="Simg">
            </div>
            <div class="col-md-8" class="col-xs-12">
                <div class="card-body">
                    <h5 class="card-title" id="Sh5">This Website functionality </h5>
                    <div class="container3">
                        <p class="card-text" id="Sp" class="header">The web makes it easy for the user to access the games very easily. The web contains all the games of every kind like PC ,PS ,XBOX. There is a description of each game with very important details. There are also Review from the
                            users of the game before. It also Rate the game on the world level, which makes it easier for the user to choose. </p>
                    </div>

                </div>
            </div>
        </div>
    </div>









    <!----------------------------------------------------------------------------------------------->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="../assets/img/pc-game-logo-blacksolid.png" alt="Avatar" style="width:220px;height:200px; ">
                    </div>
                    <div class="flip-card-back" style="background-color: black;">
                        <h1>PC Games</h1>
                        <p>Here you will find every game related to the PC.</p>
                        <a href="#" class="btn btn-primary" class="botton">Go To Test</a>
                    </div>
                </div>
            </div>


            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="../assets/img/ffe18bc07f4987eed129481171683dad.jpg" alt="Avatar" style="width:220px;height:200px;">
                    </div>
                    <div class="flip-card-back">
                        <h1>PS Games</h1>
                        <p>Here you will find every game related to the PlayStation.</p>
                        <a href="#" class="btn btn-primary" class="botton">Go To Test</a>
                    </div>
                </div>
            </div>

            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="../assets/img/apps.49045.9007199266252719.923f34fc-a1ea-4f43-b1da-2bbe48d2966b.png" alt="Avatar" style="width:220px;height:200px;">
                    </div>
                    <div class="flip-card-back" style="background-color: forestgreen;">
                        <h1 style="font-size: 37px;">XBOX Games</h1>
                        <p>Here you will find every game related to the XBOX.</p>
                        <a href="#" class="btn btn-primary" class="botton">Go To Test</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <br>
    <br>
    <br>
    <br>





    <!----------------------------------------------------------------------------------------------->


    <!--
      <div class="card mb-3" id="Scard">
  <img class="card-img-top" src="img/playstation_gamepad_crash_22102_1280x720.jpg" alt="Card image cap" id="Simg">
  <div class="card-body">
    <h5 class="card-title" id="Sh5">This Website functionality </h5>
    <p class="card-text" id="Sp">The web makes it easy for the user to access the games very easily. The web contains all the games of every kind like PC ,PS ,XBOX. There is a description of each game with very important details. There are also Review from the users of the game before. It also Rate the game on the world level, which makes it easier for the user to choose. </p>
    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
</div> -->



    <!--end--------------->
    <br>
    <!---third div-------->


    <button class="glow-on-hover" type="button"> <a href="index.html" style="text-decoration-line: none;color: white;" >TRY NOW !</a></button>




    <!--end----------------->
    <br>
    <br>
    <br>
    <%- include("parts/footer")%>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>