
<style>
    .alert {
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 999;
        opacity: 0.9;
        max-width: 300px;


    }
</style>

<div class="alert collapse " id="status" role="alert">
    <button type="button" class="close" id="close">
        <span >&times;</span>
    </button>
    <p>$("#status").show("fade")</p>

</div>

<script>
      let closeBtn = document.querySelector("#close")
      function showAlert(text, type){
        $("#status").removeClass("alert-danger")
        $("#status").removeClass("alert-success")
        $("#status").addClass(type)
        $("#status p").html(text)
        $("#status").show("fade")
    }
    closeBtn.addEventListener("click", ()=>{
        $("#status").hide("fade")
    })
</script>