<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 mx-auto">

                <!-- Content -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Footer Content</h5>
                <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">PROUCTS</h5>

                <ul class="list-unstyled">

                    <li>
                        <a href="#!"><i class="fab fa-xbox"></i> XBOX Games</a>
                    </li>
                    <li>
                        <a href="#!"> <i class="fab fa-playstation"></i> PLAYSTATION Games</a>
                    </li>
                    <li>
                        <a href="#!"><i class="fas fa-gamepad"></i> PC Games</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">USEFUL LINKS</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!"><i class="fab fa-steam"></i> Steam</a>
                    </li>
                    <li>
                        <a href="#!">Uplay</a>
                    </li>
                    <li>
                        <a href="#!"><i class="fab fa-gofore"></i> Geforce</a>
                    </li>
                    <li>
                        <a href="#!"><i class="fas fa-headset"></i> Help</a>
                    </li>
                </ul>



            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">CONTUCT US</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!"><i class="fas fa-phone-alt"></i> 01150000</a>
                    </li>
                    <li>
                        <a href="#!"><i class="fas fa-map-marker-alt"></i> Cairo,1212 street, Egypt </a>
                    </li>
                    <li>
                        <a href="#!"><i class="far fa-envelope-open"></i> any@gamil.com</a>
                    </li>

                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <hr>

    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
            <h5 class="mb-1">Register for free</h5>
        </li>
        <li class="list-inline-item">
            <a href="#!" class="btn btn-danger btn-rounded">Sign up!</a>
        </li>
    </ul>
    <!-- Call to action -->

    <hr>

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item ">
            <a class="glowing facebook size-sm">
                <i class=" fab fa-facebook-f"> </i>
            </a>
        </li>
        <li class="list-inline-item ">
            <a class="glowing twitter size-sm">
                <i class="fab fa-twitter"> </i>
            </a>
        </li>
        <li class="list-inline-item ">
            <a class="glowing red size-sm">
                <i class="fab fa-google-plus-g"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="glowing twitter size-sm">
                <i class="fab fa-linkedin-in"> </i>
            </a>
        </li>
        <li class="list-inline-item any">
            <a class="glowing orange size-sm">
                <i class="fab fa-dribbble"> </i>
            </a>
        </li>
    </ul>
    <!-- Social buttons -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="/">Game Master</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->